<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li style="font-size:200%;"><a href="/">Louise Kelly</a></li>
		        	<li style="font-size:170%;"><a href="/about">About</a></li>
				<li style="font-size:170%;"><a href="/research">Research</a></li>
		        	<li style="font-size:170%;"><a href="/blog">Blog</a></li>

	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:louise.kelly-2@postgrad.manchester.ac.uk">email</a></li>
	        		<li><a href="https://github.com/lkelly36">github.com/lkelly36</a></li>
				<li><a href="https://twitter.com/LouiseKelly_1">@LouiseKelly_1</a></li>
				<li> © 2018. All rights reserved </li>
				</ul>
			</footer>
		</body>
	</html>
